In [75]:
import pandas as pd
import mysql.connector
import sqlalchemy as sa
from datetime import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [76]:
db = mysql.connector.connect(host="localhost", user="root", passwd="root123")
cursor = db.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS general_electronics")
db.close()

engine = sa.create_engine('mysql+pymysql://root:root123@localhost/general_electronics')

In [77]:
# Function to Calculate Age
def calculate_age(born):
    today = datetime.today()
    birthday = born
    age = today.year - birthday.year - ((today.month , today.day) < (birthday.month, birthday.day))
    return age

### Sales Data

In [78]:
sales_data = pd.read_csv('Sales.csv', encoding='latin-1')
#sales_data.head()

In [80]:
sales_data['Order Date'] = pd.to_datetime(sales_data['Order Date'])
sales_data['Delivery Date'] = pd.to_datetime(sales_data['Delivery Date'])

sales_data['Delivery Date'] = sales_data['Delivery Date'].fillna('Not Available')

sales_data.drop('Line Item', axis=1, inplace=True)

sales_data = sales_data.rename(columns={'Order Number': 'OrderNumber', 'Order Date': 'OrderDate', 'Delivery Date': 'DeliveryDate', 'Currency Code': 'CurrencyCode'})

sales_data.info()

#sales_data

KeyError: 'Order Date'

In [55]:
sales_data.isna().any()

OrderNumber     False
OrderDate       False
DeliveryDate    False
CustomerKey     False
StoreKey        False
ProductKey      False
Quantity        False
CurrencyCode    False
dtype: bool

In [56]:
sales_data.to_sql(name='ge_sales', con=engine, if_exists='append', index=False)

62884

### Customer Data

In [60]:
customer_data = pd.read_csv('Customers.csv', encoding='latin-1')
#customer_data.head()

In [66]:
customer_data['Birthday'] = pd.to_datetime(customer_data['Birthday'])
customer_data['Customer_Age'] = customer_data['Birthday'].apply(calculate_age)
customer_data['State Code'] = customer_data['State Code'].fillna('NAP')

In [67]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerKey   15266 non-null  int64
 1   Gender        15266 non-null  object
 2   Name          15266 non-null  object
 3   City          15266 non-null  object
 4   State Code    15266 non-null  object
 5   State         15266 non-null  object
 6   Zip Code      15266 non-null  object
 7   Country       15266 non-null  object
 8   Continent     15266 non-null  object
 9   Birthday      15266 non-null  datetime64[ns]
 10  Customer_Age  15266 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 1.3+ MB

In [199]:
customer_data = customer_data.rename(columns={'Name' : 'Customer_Name', 'City': 'Customer_City', 'State Code': 'CustomerStateCode', 'State': 'Customer_State', 'Zip Code': 'Customer_ZipCode', 'Country': 'Customer_Country', 'Continent': 'Customer_Continent', 'Birthday': 'Customer_Birthday'})
#customer_data

In [173]:
customer_data.to_sql(name='ge_customers', con=engine, if_exists='append', index=False)

15266

### Store Data

In [174]:
store_data = pd.read_csv('Stores.csv', encoding='latin-1')
#store_data.head()

In [175]:
store_data['Square Meters'] = store_data['Square Meters'].fillna(0)
store_data['Open Date'] = pd.to_datetime(store_data['Open Date'])

store_data = store_data.rename(columns={'Country': 'Store_Country', 'State': 'Store_State', 'Open Date': 'Store_OpenDate', 'Square Meters': 'Store_SquareMeters'})
#store_data

In [176]:
store_data.to_sql(name='ge_stores', con=engine, if_exists='append', index=False)

67

### Products Data

In [177]:
product_data = pd.read_csv('Products.csv', encoding='latin1')
#product_data.head()

In [178]:
product_data.drop('SubcategoryKey', axis=1, inplace=True)
product_data.drop('CategoryKey', axis=1, inplace=True)

In [179]:
product_data['Unit Cost USD'] = product_data['Unit Cost USD'].str.replace('$', '').str.replace(',', '')
product_data['Unit Cost USD'] = pd.to_numeric(product_data['Unit Cost USD'])

product_data['Unit Price USD'] = product_data['Unit Price USD'].str.replace('$', '').str.replace(',', '')
product_data['Unit Price USD'] = pd.to_numeric(product_data['Unit Price USD'])

product_data = product_data.rename(columns={'Product Name': 'ProductName', 'Brand': 'Brand', 'Color': 'Color', 'Unit Cost USD': 'Unit_Cost_USD', 'Unit Price USD': 'Unit_Price_USD', 'Purchase_Price': 'Purchase_Price', 'Subcategory': 'Product_Subcategory', 'Category': 'Product_Category'})

#product_data

In [180]:
product_data.to_sql(name='ge_products', con=engine, if_exists='append', index=False)

2517

### Exchange Data

In [181]:
exchange_data = pd.read_csv('Exchange_Rates.csv', encoding='latin1')
#exchange_data.head()

In [182]:
exchange_data['Date'] = pd.to_datetime(exchange_data['Date'])
#exchange_data

In [183]:
exchange_data.to_sql(name='ge_exchange_rate', con=engine, if_exists='append', index=False)

11215

### Merging Sales, Customer, Store, Product, Exchange Rate Data Frames into Final Data Frame

In [184]:
sales_customer_df = pd.merge(sales_data, customer_data, how='inner', on='CustomerKey')
sales_customer_store_df = pd.merge(sales_customer_df, store_data, how='inner', on='StoreKey')
sales_customer_product_df = pd.merge(sales_customer_store_df, product_data, how='inner', on='ProductKey')
final_data_frame = pd.merge(sales_customer_product_df, exchange_data, left_on=['OrderDate', 'CurrencyCode'], right_on=['Date', 'Currency'], how='inner')

In [185]:
final_data_frame['Purchase_Price'] = (final_data_frame['Quantity'] * final_data_frame['Unit_Price_USD']).round(2)
#final_data_frame

In [186]:
final_data_frame = final_data_frame.dropna()
final_data_frame.to_sql(name='ge_consolidated_data', con=engine, if_exists='append', index=False)

62884