In [56]:
import pandas as pd
import mysql.connector
import sqlalchemy as sa
from datetime import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [57]:
db = mysql.connector.connect(host="localhost", user="root", passwd="root123")
cursor = db.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS general_electronics")
db.close()

engine = sa.create_engine('mysql+pymysql://root:root123@localhost/general_electronics')

In [58]:
# Function to Calculate Age
def calculate_age(born):
    today = datetime.today()
    birthday = born
    age = today.year - birthday.year - ((today.month , today.day) < (birthday.month, birthday.day))
    return age

### Sales Data

In [59]:
sales_data = pd.read_csv('Sales.csv', encoding='latin-1')
#sales_data.head()

In [60]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [61]:
sales_data['Order Date'] = pd.to_datetime(sales_data['Order Date'])

sales_data['Delivery Date'] = pd.to_datetime(sales_data['Delivery Date'])
sales_data['Delivery Date'] = sales_data['Delivery Date'].fillna(sales_data['Order Date'])

sales_data['Currency Code'] = sales_data['Currency Code'].astype(str)

sales_data.drop('Line Item', axis=1, inplace=True)

sales_data = sales_data.rename(columns={'Order Number': 'OrderNumber', 'Order Date': 'OrderDate', 'Delivery Date': 'DeliveryDate', 'Currency Code': 'CurrencyCode'})

#sales_data

In [62]:
sales_data.isna().any()

OrderNumber     False
OrderDate       False
DeliveryDate    False
CustomerKey     False
StoreKey        False
ProductKey      False
Quantity        False
CurrencyCode    False
dtype: bool

In [63]:
sales_data.to_sql(name='ge_sales', con=engine, if_exists='append', index=False)

62884

### Customer Data

In [64]:
customer_data = pd.read_csv('Customers.csv', encoding='latin-1')
#customer_data.head()

In [65]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [66]:
customer_data['Gender'] = customer_data['Gender'].astype(str)
customer_data['Name'] = customer_data['Name'].astype(str)
customer_data['City'] = customer_data['City'].astype(str)
customer_data['State Code'] = customer_data['State Code'].astype(str)
customer_data['State'] = customer_data['State'].astype(str)
customer_data['Zip Code'] = customer_data['Zip Code'].astype(str)
customer_data['Country'] = customer_data['Country'].astype(str)
customer_data['Continent'] = customer_data['Continent'].astype(str)

customer_data['Birthday'] = pd.to_datetime(customer_data['Birthday'])
customer_data['Customer_Age'] = customer_data['Birthday'].apply(calculate_age)
customer_data['State Code'] = customer_data['State Code'].fillna('NAP')

In [67]:
customer_data = customer_data.rename(columns={'Name' : 'Customer_Name', 'City': 'Customer_City', 'State Code': 'CustomerStateCode', 'State': 'Customer_State', 'Zip Code': 'Customer_ZipCode', 'Country': 'Customer_Country', 'Continent': 'Customer_Continent', 'Birthday': 'Customer_Birthday'})
#customer_data

In [68]:
customer_data.to_sql(name='ge_customers', con=engine, if_exists='append', index=False)

15266

### Store Data

In [69]:
store_data = pd.read_csv('Stores.csv', encoding='latin-1')
#store_data.head()

In [70]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [71]:
store_data['Country'] = store_data['Country'].astype(str)
store_data['State'] = store_data['State'].astype(str)

store_data['Square Meters'] = store_data['Square Meters'].fillna(0)
store_data['Open Date'] = pd.to_datetime(store_data['Open Date'])

store_data = store_data.rename(columns={'Country': 'Store_Country', 'State': 'Store_State', 'Open Date': 'Store_OpenDate', 'Square Meters': 'Store_SquareMeters'})
#store_data

In [72]:
store_data.to_sql(name='ge_stores', con=engine, if_exists='append', index=False)

67

### Products Data

In [73]:
product_data = pd.read_csv('Products.csv', encoding='latin1')
#product_data.head()

In [74]:
product_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [75]:
product_data['Product Name'] = product_data['Product Name'].astype(str)
product_data['Brand'] = product_data['Brand'].astype(str)
product_data['Color'] = product_data['Color'].astype(str)

product_data['Unit Cost USD'] = product_data['Unit Cost USD'].str.replace('$', '').str.replace(',', '')
product_data['Unit Cost USD'] = pd.to_numeric(product_data['Unit Cost USD'])

product_data['Unit Price USD'] = product_data['Unit Price USD'].str.replace('$', '').str.replace(',', '')
product_data['Unit Price USD'] = pd.to_numeric(product_data['Unit Price USD'])

product_data.drop('SubcategoryKey', axis=1, inplace=True)
product_data.drop('CategoryKey', axis=1, inplace=True)

product_data['Subcategory'] = product_data['Subcategory'].astype(str)
product_data['Category'] = product_data['Category'].astype(str)

product_data = product_data.rename(columns={'Product Name': 'ProductName', 'Brand': 'Brand', 'Color': 'Color', 'Unit Cost USD': 'Unit_Cost_USD', 'Unit Price USD': 'Unit_Price_USD', 'Purchase_Price': 'Purchase_Price', 'Subcategory': 'Product_Subcategory', 'Category': 'Product_Category'})

In [77]:
product_data.to_sql(name='ge_products', con=engine, if_exists='append', index=False)

2517

### Exchange Data

In [78]:
exchange_data = pd.read_csv('Exchange_Rates.csv', encoding='latin1')
#exchange_data.head()

In [79]:
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [86]:
exchange_data['Currency'] = exchange_data['Currency'].astype(str)
exchange_data['Date'] = pd.to_datetime(exchange_data['Date'])
#exchange_data

In [81]:
exchange_data.to_sql(name='ge_exchange_rate', con=engine, if_exists='append', index=False)

11215

### Merging Sales, Customer, Store, Product, Exchange Rate Data Frames into Final Data Frame

In [82]:
sales_customer_df = pd.merge(sales_data, customer_data, how='inner', on='CustomerKey')
sales_customer_store_df = pd.merge(sales_customer_df, store_data, how='inner', on='StoreKey')
sales_customer_product_df = pd.merge(sales_customer_store_df, product_data, how='inner', on='ProductKey')
final_data_frame = pd.merge(sales_customer_product_df, exchange_data, left_on=['OrderDate', 'CurrencyCode'], right_on=['Date', 'Currency'], how='inner')

In [83]:
final_data_frame['Purchase_Price'] = (final_data_frame['Quantity'] * final_data_frame['Unit_Price_USD']).round(2)
#final_data_frame

In [84]:
final_data_frame = final_data_frame.dropna()
final_data_frame.to_sql(name='ge_consolidated_data', con=engine, if_exists='append', index=False)

62884